:root {
	
	--bg: #222;
	--alternate-bg: #000;
	
	--highlight-dark: #1fbfb7;
	--highlight: #2ee8df;
	--highlight-light: #42fff6;
	
}

* {
	color: white;
	font-family: 'Share Tech Mono', monospace;
}

input[type=text], input[type=password] {
	background-color: #000;
}