{% set skills = character.canLearn() %}	

<div class='popup h-0' data-popup='.learn'>

	<h3>Learn new skills</h3>

	<table class='learnable-skills'>
		{% for skill in skills %}
				<tr class='learnable-skill action' data-action='{{ skill.id }}'>
					<td class='center cost'>{{ skill.cost }}</td>
					<td class='right'>{{ skill.name }}</td>
				</tr>
		{% endfor %}
	</table>

	<div class='h-2'></div>
			
</div>

<div class='ml-2 profile'>
	<div class='row right'>
		
		<div class='profile-icon fade' >
			<a href='/profile'>
				{{ icon('class/' ~ character.clazz.name)|raw }}
			</a>
		</div>

		<div class='middle'>
			{% if skills.count() %}
				<div class='profile-btn fade glow-2 learn'></div>
			{% endif %}

			<div class='profile-btn fade inventory-btn'></div>
		</div>
		 
	</div>
</div>