{% extends 'base.twig' %}

{% block title %}Classes{% endblock %}

{% block content %}

	<div class='diagram classes mr-3'></div>
	<table class='diagram mr-3'>
		<tr>
			<td class='classes' data-display=1></td>
			<td class='classes' data-display=2></td>
		</tr>
		<tr>
			<td class='classes' data-display=3></td>
			<td class='classes' data-display=4></td>
		</tr>
		<tr>
			<td class='classes' data-display=5></td>
			<td class='' data-display=6></td>
		</tr>
	</table>

	<script>

    window.classes = {
		{% for class in classes %}
       		{{ class.id }}: {label: '{{ class.name() }}', from: 
       		[{% for from in class.evolvesFrom %}
       			{{ from.id }},
       		{% endfor %}]},
		{% endfor %}
    };

	</script>

{% endblock %}