{% extends 'base.twig' %}

{% block title %}Post Test{% endblock %}

{% set character = account().selected() %}

{% block content %}

	{% if response %}

		<p>{{ response }}</p>

	{% endif %}

	<form>
		<input type='text' name='action' placeholder='action'></input>
		<input type='text' name='args' placeholder='args'></input>
		<input type='submit'></input>
	</form>

	<p id='message' class='mt-2'></p>

	<script>
		$(window).ready(function() {

			$('form').submit(function(e) {
 				e.preventDefault();

 				let args = $('[name=args]').val();
				if(args) window.params = JSON.parse(args);
				sendAction('/' + $('[name=action]').val(), function(result) {
					try {
						result = JSON.stringify(result);
					} catch(err) {}

					$('#message').text(result);
				});

			});

		});
	</script>


{% endblock %}