{% extends 'base.twig' %}

{% block title %}Post Test{% endblock %}

{% set character = account().selected() %}

{% block content %}

	{% if response %}

		<p>{{ response }}</p>

	{% endif %}

	<form>
		<input type='text' name='action' placeholder='action'></input>
		<input type='text' name='args' placeholder='args'></input>
		<input type='submit'></input>
	</form>

	<p id='message' class='mt-2'></p>

	<script>
		$(window).ready(function() {

			$('form').submit(function(e) {
 				e.preventDefault();

				window.params = JSON.parse($('[name=args]').val());
				sendAction('/' + $('[name=action]').val(), function(result) {
					$('#message').text(JSON.stringify(result));
				});

			});

		});
	</script>


{% endblock %}