{% extends 'base.twig' %}

{% block title %}Battle{% endblock %}

{% set character = account().selected %}

{% block content %}

	<input id='x' hidden value='{{ character.participant.field.x }}'>
	<input id='y' hidden value='{{ character.participant.field.y }}'>

	<div class='battle'>
		<div class='row w-100 collapse'>
			{% include 'battle/field.twig' with {'battle': battle, 'character': character} %}
			{% include 'battle/bar.twig' with {'battle': battle, 'character': character} %}
		</div>
	</div>

{% endblock %}