{% extends 'base.twig' %}

{% block title %}Login{% endblock %}

{% block content %}

	{% if failed %}
		<div class='bubble red'>
			<h3 class='center text-white'>Login failed</h3>
		</div>
	{% endif %}
	
	<div class='login-icon center mb-1'>{{ icon('class/random')|raw }}</div>
	 
	<div class='mb-4'></div>
	<table class='logins'>
		<tr>
			<td><h2 class='mt-2 center'>Login</h2></td>
			<td><h2 class='mt-2 center'>Signup</h2></td>
		</tr>
		<tr>
			<td class='login center bottom py-2'>

				<form method='post'>

					<div class='mb-1'><input type='text' placeholder='Username' name='username'></input></div>
					<div class='mb-1'><input type='password' placeholder='Password' name='password'></input></div>
					<div><input type='submit' value='Login'></input></div>

				</form>
			</td>

			<td class='login center bottom py-2'>

				<form method='post' action='signup'>

					<div class='mb-1'><input type='text' placeholder='Username' name='username'></input></div>
					<div class='mb-1'><input type='password' placeholder='Password' name='password'></input></div>
					<div class='mb-1'><input type='password' placeholder='Repeat password'></input></div>
					<div><input type='submit' value='Create'></input></div>

				</form>
			</td>
		</tr>
	</table>

{% endblock %}