#home {

    display: grid;
    grid-template:
        "evolve skills"
        "evolve buttons"
        "evolve ."
        "position inventory"
        / 2fr 1fr;
        
    column-gap: 10px;
	row-gap: 10px;

    .evolve {
        text-align: center;
    }
    
    @include mobile {
        grid-template:
            "evolve"
            "buttons"
            "position"
            "skills"
            "inventory";

        row-gap: 0;
    }

}