.inventory {
    display: grid;
    grid-template: 
        "loot loot loot loot"
        "left_hand-icon left_hand right_hand right_hand-icon"
        "bag bag bag bag"
        / 1fr 1fr 1fr 1fr;
}

.bag {

    display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    $per-row: 6;
    $size: 400px;

    max-width: $size;

    .stack {
        $stackSize: ($size / $per-row);
        margin: 5px $stackSize * 0.1;
        max-width: $stackSize * 0.8;

        &:not(.info) {
            @include hoverScale;
        }

        &.info {
            @include hexagon;
            background-color: #0002;
            padding: $stackSize * 0.4 $stackSize * 0.1;
        }
    }

}