@keyframes zoom {
  from {
    transform: translate(0,0);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.map {

  position: relative;
  height: 300px;
  background-color: #0003;
  border: 3px $highlight-dark solid;

  .field {
    animation: zoom 0.2s linear; 
  }

  p {
    text-align: center;
    width: 100%;
  }

  .back, p {
    z-index: 200;
    position: absolute;
    top: 5px;
    left: 5px;
  }

  .back {
    padding: 5px;
    border: 1px $highlight-dark solid;

    &:hover {
      background-color: $highlight;
      border-color: $highlight;
    }
  }

}