#profile {

    display: grid;
    grid-template:
        "chars buttons buttons"
		"chars info journey"
		/ 4fr 1fr 1fr;
		
	column-gap: 15px;

	@include mobile {
		grid-template:
			"buttons buttons"
			"info journey"
			"greeter greeter"
			"chars chars";
			
		row-gap: 10px;
	}

}