{% extends 'base.twig' %}

{% block title %}Post Test{% endblock %}

{% set character = account().selected() %}

{% block content %}

	{% if response %}

		<p>{{ response }}</p>

	{% endif %}

	<form>
		<input type='text' name='action' placeholder='action'></input>
		<input type='text' name='args' placeholder='args'></input>
	</form>

	<div class='option mt-2' id='submit'>Post</div>

	<p class='feedback' class='mt-2'></p>
	<p class='admin-feedback' class='mt-2'></p>

	<script>
		$(window).ready(function() {

			$('#submit').click(function(e) {

 				let args = $('[name=args]').val();
				if(args) window.params = JSON.parse(args);
				sendAction('/' + $('[name=action]').val());

			});

		});
	</script>


{% endblock %}