.battlefield {

	width: 100%;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4) inset;
	background-color: #0005;
	/* background-image: url('https://cdnb.artstation.com/p/assets/images/images/010/919/215/large/vyacheslav-ryzhkov-20180520204748-1.jpg?1526937354'); */
	background-size: cover;
	/* border-radius: 10px; */
	margin-bottom: 15px;
	color: #FFF;
	
	padding: 10px;
	
}

@keyframes join-battle {
	from {
		transform: scale(0, 0);
	}
	to {

	}
}

@keyframes die {
	30% {
		transform: scale(0.7, 0.7) rotate(10deg);
	}
	70% {
		transform: scale(0.6, 0.6) rotate(-10deg);
	}
	to {
		transform: scale(0, 0) rotate(0deg);
		opacity: 0;
	}
}

.participant.joined {

	animation: join-battle 1s forwards linear;
	overflow: hidden;
	pointer-events: none;

}

.participant.died {

	animation: die 0.8s forwards linear;
	overflow: hidden;
	pointer-events: none; 

}

.participants {
	color: #000;
	padding: 40px;
	width: 100%;
	height: 200px;
}

.participant > p {
	text-align: center;	
}

.participant {
	cursor: pointer;
	width: 200px;
}

.participant.selected {
	 filter: drop-shadow(0 0 4px var(--highlight));
}

.participant.active {
	 filter: drop-shadow(0 0 4px #FFF);
}

.healthbar {
	/* border-radius: 5px; */
	height: 10px;	
	width: 80%;
	margin: 4px auto;
	background-color: rgba(0, 0, 0, 0.2);
}

.healthbar > div {
	/* border-radius: 5px; */
	height: 100%;
	background-color: var(--red);
}