:root {
	
	--bg: #66665A;
	--alternate-bg: #22221E;
	--alternate-bg-darker: #111;

	--black: #000;
	--white: #FFF;

	--red: #d62828;
	--green: #65d628;
	--red-light: #ed5a5a;
	--green-light: #82db51;
	
	--highlight-darker: #a3700f;
	--highlight-dark: #e2a126;
	--highlight: #f2b748;
	--highlight-light: #f2c56f;
	
	--marg: 10px;
	
}