.relation-box {
	width: 300px;
	background-color: #0002;
	padding: 10px;
	padding-top: 0;
}

.relation-box table {
	border-spacing: 5px;
	border-collapse: separate;
}

.relation-box td {
	min-width: 150px;
	height: 25px;
}

.relation-box td > * {
	height: 100%;
}

.relations {
	border-collapse: separate;
	border-spacing: 10px;
}