.inventory {
	--size: 65px;
	text-align: center;
}

.slot, .slot-icon, .slot-text {
	vertical-align: top;
	display: inline-block;
	margin: 0 5px;
	width: var(--size);	
	text-align: center;
}

.slot-text {
	
	font-size: 15px;
	padding: calc(var(--size) / 2 - 10px) 0;
	background-color: #0001;

}

.slot {
	font-size: 10px;
	cursor: pointer;
	transition: transform 0.2s linear;	
}

.slot-icon > div {
	width: 80%;
	margin: 10%;
}

.inventory.loot > .slot {

	/* background-color: var(--highlight); */
	filter: drop-shadow(0 0 4px var(--highlight)) drop-shadow(0 0 4px var(--highlight)) drop-shadow(0 0 4px var(--highlight));
	
}

.slot > div {
	margin-top: 10%;
	margin-left: 10%;
	width: 80%;
	margin-bottom: 8px;
}

.slot > p:last-child {
	margin-bottom: 10px;
}

.slot:hover {
	transform: scale(1.15, 1.15);
}


.slot.active {
	transform: scale(1.2, 1.2);
}

.item-popup {
	display: none;
}

.item-popup.active {
	display: block;
}