.slot {

	--size: 75px;
	
	cursor: pointer;
	border-radius: 5px;
	margin-right: 5px;
	float: left;
	width: var(--size);
	transition: transform 0.2s linear;
	
}

.slot:last-child {
	margin-right: 0;
}

.inventory {
	display: table-row;
}

.inventory.loot > .slot {

	/* background-color: var(--gold-light); */
	filter: drop-shadow(0 0 4px var(--gold-light)) drop-shadow(0 0 4px var(--gold-light)) drop-shadow(0 0 4px var(--gold-light));
	
}

.slot > div {
	margin-top: 10%;
	margin-left: 10%;
	width: 80%;
	margin-bottom: 8px;
}

.slot > p {
	
	font-size: 10px;
	text-align: center;
	
}

.slot:hover {
	transform: scale(1.15, 1.15);
}

.skill {
		
	border-radius: 7px;
	background-color: var(--gold);
	padding: 8px;
	margin: 4px 0;
	
}
	