.option {

	width: 100px;
	text-align: center;
	cursor: pointer;
	padding: 10px;
	margin-bottom: 6px;
	border: var(--highlight-dark) 2px solid;
	
}

.options.horizontal {

	display: table-row;
	padding: 5px;
	
}

.options.horizontal > .option {
	display: table-cell;		
}

.disabled, .loading {	
	pointer-events: none !important;
	cursor: default !important;
}

.option.disabled, .option.loading {
	border-color: #444;
}

.option.error {
	border-color: var(--red);
}

.option[data-parent] {
	display: none;
}

.option.back {
	display: none;
	width: 60px;
}

.option:last-child {
	margin-right: 0;
	margin-bottom: 0;
}

.option:hover {
	background-color: var(--highlight);
	border-color: var(--highlight);
}