.options {

	padding: 5px;
	display: table-row;
	
}

.options.vertical > .option {
	
	float: initial;
	margin-right: 0;
	margin-top: 8px;
		
}
	

.option {

	user-select: none;
	width: 100px;
	text-align: center;
	cursor: pointer;
	padding: 10px;
	margin-right: 8px;
	float: left;
	border: var(--gold) 2px solid;
	
}

.option.disabled {
	border-color: #444;	
}

.option.disabled:hover {
	background-color: transparent;
	cursor: default;
}

.option[data-parent] {
	display: none;
}

.option.back {
	display:none;
	width: 60px;
}

.option:last-child {
	margin-right: 0;
	margin-bottom: 0;
}

.option:hover {
	background-color: var(--gold-light);
}