{% extends 'base.twig' %}

{% block title %}Profile{% endblock %}

{% set account = account() %}

{% block content %}
	
	<h2>Choose a class</h2>
	<div class='row'>
		{% for starter in starters %}
			

			<div class='character-panel {% if character.isSelected() %}selected{% endif %}' data-action='character/select/{{ character.id }}'>
				<h4>{{ starter.name }}</h4>
				{{ icon("class/" ~ starter.name)|raw }}
			</div>

		{% else %}
			
			<a href='profile/create'>
				<div class='character-panel create'>
					<h2 class='text-black center' ><i class="fas fa-plus"></i></h2>
				</div>
			</a>

		{% endfor %}
	</div>

{% endblock %}