{% extends 'base.twig' %}

{% block title %}Home{% endblock %}

{% set character = account().selected %}

{% block content %}

	{% set battle = character.battle %}
	
	{% if battle %}

		{% include 'home/battle.twig' with {'battle': battle, 'character': character} %}
	
	{% else %}
	
		<div class='col-66'>
		
			{% set evolutions = character.canEvolveTo() %}	
			{% if evolutions.count() %}

				<div class='character-row'>
				<p class='center'>You're experience has brought you far, but this is where your paths part</p>
				<h3 class='center mb-4'>Choose an specialization</h3>
					{% for evolution in evolutions %}

						<div class='character-panel medium evolve' data-class='{{ evolution.id }}'>
							<h5>{{ evolution.name }}</h5>
							{{ icon("class/" ~ evolution.name|lower)|raw }}
						</div>

					{% endfor %}
				</div>
			{% endif %}


			{% set pos = character.position %}
			{% if pos.dungeon %}

				{% include 'home/dungeon.twig' with {'position': pos, 'character': character} %}
				
			{% endif %}

		</div>
		<div class='col-33'>

			<div class='right'>
				{% include 'home/character.twig' with {'character': character} %}
				{% include 'home/inventory.twig' with {'character': character} %}
			</div>

		</div>

	{% endif %}

{% endblock %}

{% block script %}
<script src='/assets/scripts/inventory.js'></script>
<script>

$(window).ready(function() {
	
	$('.evolve').each(function() {
		let panel = $(this);

		panel.click(function() {
			window.params.to = panel.attr('data-class');
			sendAction('character/evolve');
		});
	});
	
});

</script>
{% endblock %}