{% extends 'base.twig' %}

{% block title %}Home{% endblock %}

{% set character = account().selected %}

{% block content %}
	
	{% if character.participant.battle.exists %}

		{% include 'home/battle.twig' with {'battle': character.participant.battle, 'character': character} %}
	
	{% else %}
	
	<div class='row w-100'>
		<div class='top w-66'>

			{% if character.message %}
				<h1 class='mb-1 banner'>{{ format('message.' ~ character.message) }}</h1>
			{% endif %}

			{% include 'home/evolve.twig' with {'character': character} %}

			{% set pos = character.position %}
			{% if pos.dungeon.exists %}

				{% include 'home/dungeon.twig' with {'position': pos, 'character': character} %}
				
			{% endif %}

		</div>
		<div class='top right'>

			<div class='ml-2'>
				{% include 'home/character.twig' with {'character': character} %}
				{% include 'home/inventory.twig' with {'character': character} %}
			</div>

		</div>
	</div>

	{% endif %}

{% endblock %}

{% block script %}
<script>

$(window).ready(function() {
	
	$('.evolve').each(function() {
		let panel = $(this);

		panel.click(function() {
			window.params.to = panel.attr('data-class');
			sendAction('character/evolve');
		});
	});
	
});

</script>
{% endblock %}