{% extends 'base.twig' %}

{% block title %}Login{% endblock %}

{% block content %}

	{% if failed %}
		<div class='bubble red'>
			<h3 class='center text-white'>Login failed</h3>
		</div>
	{% endif %}
	
	<div class='login-icon center mb-1'>{{ icon('class/random')|raw }}</div>
	 
	<div class='mb-4'></div>
	<div class='row'>

		<div class='w-50'>
		<div class='login center'>

			<h2 class='mb-2'>Login</h2>

			<form method='post'>

				<div class='mb-1'><input type='text' placeholder='Username' name='username'></input></div>
				<div class='mb-1'><input type='password' placeholder='Password' name='password'></input></div>
				<div><input type='submit' value='Login'></input></div>

			</form>
		</div>
		</div>

		<div class='w-50'>
		<div class='login center'>

			<h2 class='mb-2'>Signup</h2>

			<form method='post' action='signup'>

				<div class='mb-1'><input type='text' placeholder='Username' name='username'></input></div>
				<div class='mb-1'><input type='password' placeholder='Password' name='password'></input></div>
				<div class='mb-1'><input type='password' placeholder='Repeat password'></input></div>
				<div><input type='submit' value='Create'></input></div>

			</form>
		</div>
		</div>
	</div>

{% endblock %}