.map {

	position: relative;

	height: 500px;
	min-width: 600px;
	
	border: 3px solid var(--highlight-dark);
	/* border-radius: 20px; */
	background-color: #0002;
	
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.5) inset;

	margin: 0 auto;
	max-width: 600px;
	
}

.map .location:not(.shown) {

	top: 50% !important;
	left: 50% !important;

}

.location.here .icon-container {

	filter: drop-shadow(0 0 10px var(--highlight));

}

.map-back, .location {

	left: 50%;
	top: 50%;
	opacity: 0;
	pointer-events: none;

}

.map .shown {

	opacity: 1;
	pointer-events: all;

}

.location {

	position: absolute;
	width: 60px;

	transform: translate(-50%, -50%);

	transition: left 0.3s linear, top 0.3s linear, opacity 0.15s linear;

}

.map .feedback {
	text-align: right;
	margin: 12px;
}

.location .icon-container::after {

	z-index: -1;
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;

	/* border-radius: 100%; */
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	background-color: var(--highlight);

	transform: scale(0, 0);
	transition: transform 0.2s ease-out;

}

.location:hover .icon-container {
	filter: drop-shadow(0 0 4px var(--highlight));
}

.location:hover {
	cursor: pointer;
}

.location:hover .icon-container::after {

	transform: scale(1.2, 1.4);

}

.location .tooltip {
	z-index: 1;
	width: 100%;
	opacity: 0;
	text-align: center;
}

.location.disabled {
	filter: brightness(50%) grayscale();
}

.location:hover .tooltip {
	opacity: 1;
}

.map-back {

	z-index: 1;
	position: absolute;

	/* border-radius: 100%; */
	width: 30px;
	height: 30px;
	margin: 10px;
	top: 0;
	left: 0;
	
	border: 2px var(--highlight-dark) solid;

	color: #ffffff;
	font-size: 22px;
}

.map > .map-back:hover {
	background-color: var(--highlight);
	border-color: var(--highlight);
}

.dungeon-top {
	--top: 30%;
	--right: 15%;
	--left: 15%;
	--width: 15px;

	-webkit-clip-path: polygon(calc(var(--left) + var(--width)) 0%, calc(100% - var(--right) - var(--width)) 0%, calc(100% - var(--right)) var(--top), 100% var(--top), 100% 100%, 0 100%, 0 var(--top), var(--left) var(--top));
	clip-path: polygon(calc(var(--left) + var(--width)) 0%, calc(100% - var(--right) - var(--width)) 0%, calc(100% - var(--right)) var(--top), 100% var(--top), 100% 100%, 0 100%, 0 var(--top), var(--left) var(--top));
	
	padding: 7px 0;
	color: #FFF;
	background-color: var(--alternate-bg);
}

.dungeon-box {
	width: 400px;	
}

.floors {
	border: 5px var(--alternate-bg) solid;
}

.floor {

	padding: 10px;
	width: calc(100% - 20px);
	background-color: #0006;
	background-image: linear-gradient(to top, transparent 70%, #0007);
	position: relative;
	border-top: 3px var(--alternate-bg) solid;
	
}

.floor:first-child {
	border-top: none;
	/* border-radius: 10px 10px 0 0; */
}

.floor.below {

	padding-top: 3px;
	background-color: #666;

}

.floor.last {

	padding-top: 18px;
	padding-bottom: 18px;
	background-color: #666;
	/* border-radius: 0 0 10px 10px; */

}

.floor.current {
	background-color: var(--highlight-dark);
}